manifest.mainScript = 'aws_batch_test.nf'
docker.enabled = true

process {
    container = 'mclaugsf/seqtk'
}

profiles {
    awsbatch {
        aws.region = 'us-east-1'
        aws.client.storageEncryption = 'AES256'
        aws.accessKey = 'xxxxxxxxxxxxxxxx'
        aws.secretKey = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'      
        process.queue = 'my-queue'
        executor.name = 'awsbatch'
    }
}
